GmailSummaryGenerator.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -96,
        -16
      ],
      "id": "67c6dbd9-4e89-46dd-b21b-b1cf5c1e0006",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "v2KTeC09z4EnvVzK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5584135810",
        "text": "={{ '📧 Email Summary\\n\\n' + 'From: ' + $('Gmail Trigger').item.json.From + '\\n' + 'Subject: ' + $('Gmail Trigger').item.json.Subject + '\\n\\n' + '📝 Summary:\\n' + $('Summarize Email').item.json.output }}",
        "additionalFields": {}
      },
      "id": "383cbfbe-b408-460c-a6a0-2a19a4f9cb27",
      "name": "Send Telegram Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        -16
      ],
      "webhookId": "73b9c6fd-e522-4d21-8f5b-21fd3dfe514a",
      "credentials": {
        "telegramApi": {
          "id": "3SmifAvnx6JTfJSV",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize this email:\n\nFrom: {{ $('Gmail Trigger').item.json.From }}\nSubject: {{ $('Gmail Trigger').item.json.Subject }}\nBody: {{ $('Gmail Trigger').item.json.Text }}",
        "options": {
          "systemMessage": "You are an email summarization assistant. Your task is to create concise, clear summaries of emails in 2-3 sentences, highlighting key points and any action items."
        }
      },
      "id": "47fcbb50-d988-4cca-bb92-71ea649629b2",
      "name": "Summarize Email",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        128,
        -16
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "f141bc55-c5bd-4ee9-a263-85171b04c361",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "RgHY4V5OQel6W8pl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Summarize Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Email": {
      "main": [
        [
          {
            "node": "Send Telegram Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "142e0433685f99d1e36ca344e92729db892230e32e9bfb2805c4d703ceee6751"
  }
}
