IntelliAssign-SmartProjectAllocationSystem
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "Fill the details",
        "formFields": {
          "values": [
            {
              "fieldName": "Name",
              "fieldLabel": "Name:",
              "placeholder": "Enter your full name",
              "requiredField": true
            },
            {
              "fieldName": "Roll_number",
              "fieldLabel": "Roll Number:",
              "placeholder": "Enter you Roll Number"
            },
            {
              "fieldName": "Email",
              "fieldLabel": "Email:",
              "placeholder": "Enter your email"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        -368,
        80
      ],
      "id": "f8299e4c-0d3e-467f-b09e-a1823b2df3d1",
      "name": "On form submission",
      "webhookId": "d9eca45a-caf4-40b1-a915-3ef86026f6e0"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a project allocation assistant.\n\nAssign ONE short engineering project name to the student.\n\nStudent:\nName: {{$json.name}}\nRoll Number: {{$json.roll_number}}\n\nRules:\n- Output ONLY the project name\n- Max 6 words\n- No description\n- No labels\n- Single line only\n\nExample:\nSmart Attendance System\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -112,
        80
      ],
      "id": "88555315-e4fb-4197-88fa-2cc053fa2fd9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -144,
        304
      ],
      "id": "2af67625-255b-4987-9206-bc1f31d9d1e3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "1duhM0i1DtYRHe4Q",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Your Project Assignment",
        "emailType": "text",
        "message": "=Hello {{ $json.Name }},\n\nYour assigned project is:\n\n📌 {{ $('AI Agent').item.json.output }}\n\nPlease complete it before the due date.\n\nBest regards,\nProject Coordination Team\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        80
      ],
      "id": "252fb095-d471-4fe7-a56f-beaef46b9458",
      "name": "Send a message",
      "webhookId": "a21b65c0-7a3a-4097-8e28-2459de78f0ff",
      "credentials": {
        "gmailOAuth2": {
          "id": "v2KTeC09z4EnvVzK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xswpCCZk_rMGetRiA0YpahTXgbAQCIX_uGKAE6BUzwI",
          "mode": "list",
          "cachedResultName": "Student_Registrations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xswpCCZk_rMGetRiA0YpahTXgbAQCIX_uGKAE6BUzwI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1091061043,
          "mode": "list",
          "cachedResultName": "Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xswpCCZk_rMGetRiA0YpahTXgbAQCIX_uGKAE6BUzwI/edit#gid=1091061043"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "formMode": "={{ $('On form submission').item.json.formMode }}",
            "submittedAt": "={{ $('On form submission').item.json.submittedAt }}",
            "assigned_project": "={{ $json.output }}",
            "Name": "={{ $('On form submission').item.json.Name }}",
            "Roll_number": "={{ $('On form submission').item.json.Roll_number }}",
            "Email": "={{ $('On form submission').item.json.Email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Roll_number",
              "displayName": "Roll_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "formMode",
              "displayName": "formMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assigned_project",
              "displayName": "assigned_project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        80
      ],
      "id": "32350856-0b27-42c4-9d78-cd5a2c62cbe8",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "svqAtFZSeDFntpZ7",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "142e0433685f99d1e36ca344e92729db892230e32e9bfb2805c4d703ceee6751"
  }
}
